<section>
    <div>
        <h1>Start e Stop do Ambiente.</h1>
        <p>Para a AdministraÃƒÂ§ÃƒÂ£o do Ambiente foi criado um Script com a sequÃƒÂªncia correta para a parada dos serviÃƒÂ§os, lembrando
            que a sequÃƒÂªncia de iniciaÃƒÂ§ÃƒÂ£o do ambiente ÃƒÂ© que seja o License-Server Primeiro, CtreeServer Segundo, Dbaccess
            Terceiro, e os demais serviÃƒÂ§os.</p>
    </div>
    <div class="cols-md-6">
        <div class="cols-md-6">
            <thf-info t-label="Dashboard de Serviços" t-value="Status dos serviços">
            </thf-info>
        </div>
        <div class="cols-ms-6">
            <input #sendIP (keyup)="0" class="form-control" placeholder="192.168.0.1">
            <input #serviceName (keyup)="0" class="form-control" placeholder="Nome do Serviço">

            <thf-button (t-click)="tstButton(sendIP.value, serviceName.value)" t-disabled="false" t-icon="thf-icon thf-icon-settings"
                t-id="btnConfig" t-label="Configuraço" t-primary="true" t-small="true">
            </thf-button>
        </div>
    </div>
    <div class="cols-ms-6">
        <p>Appserver 1 : Status</p>
    </div>
</section>