<form class="thf-row ng-untouched ng-pristine ng-valid" novalidate="">
    <div class="thf-xs-12 thf-sm-12 thf-md-8 thf-lg-8 thf-xl-8">
      <div name="pingTest" t-clean="" t-label="Teste Ping" t-maxlength="50" t-placeholder="192.168.0.1" class="ng-untouched ng-pristine ng-valid"> 
        <div _nghost-c3=""> 
          <div _ngcontent-c3="" style="display:block"> 
            <span _ngcontent-c3="" class="thf-label">Teste Ping</span>
            <br _ngcontent-c3=""> <!---->
            <span _ngcontent-c3="" class="thf-label-help"></span>  
            <div class="thf-field-flex-container"> 
              <input id="ipTest" class="thf-input-elem" type="text" name="pingTest" placeholder="192.168.0.1" style="padding-right: 30px;"> <!---->
              <div _nghost-c4="">
                <span _ngcontent-c4="" class="thf-icon thf-icon-close thf-span-clean thf-span-clean-pos1"> 

                </span> 
              </div> 
            </div> 
            <div class="thf-field-error"> <!----> 
            </div>  
          </div> 
        </div> 
      </div>
    </div>
    <div class="thf-form-button thf-xs-12 thf-sm-12 thf-md-4 thf-lg-4 thf-xl-4">
      <div t-label="Adicionar">
        <button class="thf-button" type="button" id="btnPingTest"> <!----> 
          Testar 
        </button> 
      </div>
      <div>
        <span id="resultPing"></span>
      </div>

    </div>
  </form>